@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer components {
  .para {
    @apply font-normal text-12 leading-[100%];
  }
  .texting-purple {
    @apply font-normal text-12 leading-[140%] text-purple;
  }
  .texting-grey {
    @apply overflow-hidden text-10 text-[#8C97B5] leading-[100%];
  }
  .lh-100 {
    @apply leading-[100%];
  }
  .lh-140 {
    @apply leading-[140%];
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter";
  line-height: 140%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.test-border {
  border: 1px solid black;
}

.border-1 {
  border: 1px solid #e1e1e1;
}

.limited-text {
  display: -webkit-box;
  -webkit-line-clamp: 7; /* Adjust number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
